appdirs==1.4.3
application-utility==1.1.0.dev1
apyori==1.1.1
astor==0.7.1
awsebcli==3.14.13
Babel==2.1.1
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
blessed==1.15.0
botocore==1.12.105
btrfsutil==1.1.0
CacheControl==0.12.5
cached-property==1.5.1
cement==2.8.2
certifi==2018.11.29
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
cloudpickle==0.8.0
colorama==0.3.9
coverage==4.0.1
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.6
dask==1.1.4
decorator==4.3.2
defusedxml==0.5.0
distlib==0.2.8
distro==1.4.0
Django==2.1.5
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.3
Flask==0.10.1
Flask-Babel==0.9
Flask-WTF==0.12
flipflop==1.0
future==0.16.0
gast==0.2.2
gufw==18.10.0
gunicorn==19.4.3
h5py==2.9.0
html5lib==1.0.1
idna==2.7
imageio==2.5.0
imageio-ffmpeg==0.2.0
ipykernel==4.9.0
ipython==7.3.0
ipython-genutils==0.1.0
ipywidgets==7.4.2
itsdangerous==0.24
Jade-Application-Kit==1.3.5
jedi==0.13.3
Jinja2==2.8
jmespath==0.9.4
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lockfile==0.12.2
louis==3.8.0
MarkupSafe==1.1.1
matplotlib==3.0.3
meson==0.49.2
mistune==0.8.4
moviepy==1.0.0
msgpack==0.6.1
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nms==0.1.6
notebook==5.7.5
npyscreen==4.10.5
numpy==1.16.2
opencv-python==4.0.0.21
packaging==19.0
pacman-mirrors==4.14.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.3
pathspec==0.5.9
pep517==0.5.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
proglog==0.1.9
progress==1.5
prometheus-client==0.5.0
prompt-toolkit==2.0.8
protobuf==3.7.0
psycopg2==2.7.7
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pwquality==1.4.0
pycairo==1.18.0
pycrypto==2.6.1
pycups==1.9.74
pycurl==7.43.0.2
Pygments==2.3.1
PyGObject==3.30.4
pyparsing==2.3.1
PyQt5==5.12
PyQt5-sip==4.19.14
python-dateutil==2.8.0
pytoml==0.1.20
pytz==2015.6
PyWavelets==1.0.2
pyxdg==0.26
PyYAML==3.13
pyzmq==18.0.1
requests==2.20.1
retrying==1.3.3
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
semantic-version==2.5.0
Send2Trash==1.5.0
Simple-AES-Cipher==1.0.7
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
soupsieve==1.8
speaklater==1.3
team==1.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
texttable==0.9.1
toolz==0.9.0
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
ufw==0.36
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.55.0
Werkzeug==0.10.4
widgetsnbextension==3.4.2
WTForms==2.0.2
