<html><head><meta charset="UTF-8"><title>UPDATE ACCOUNT DETAILS</title>
		<link href="css/form.css" rel="stylesheet" type="text/css"><script src="js/validation.js"></script>
	</head><body class="zf-backgroundBg"><!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a>NAME HERE</a>
			<a href="homepage.html">Home</a>
			<a href="account-update.html">Account Update</a>
			<a href="#">News</a>
			<a href="login.html">LogOut</a>
		</div>

		<div id="main">
			<div class="header" id="myHeader">
				<h2><center><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>  TechCiti Home</center></h2>
			</div>	
			<div class="zf-templateWidth"><form action='https://forms.zohopublic.in/abhinav8769abhi/form/UPDATEACCOUNTDETAILS/formperma/QkD7NvpDevnEhopjFpuV99o1HP3zfv62SMO_LilKBSw/htmlRecords/submit' name='form' method='POST' onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();' accept-charset='UTF-8' enctype='multipart/form-data' id='form'><input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
					<input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
					<input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
					<div class="zf-templateWrapper"><!---------template Header Starts Here---------->
						<br><br><br><br>	
						<ul class="zf-tempHeadBdr"><li class="zf-tempHeadContBdr"><h2 class="zf-frmTitle"><em>UPDATE ACCOUNT DETAILS</em></h2>
								<p class="zf-frmDesc">Please update your details here.</p>
								<div class="zf-clearBoth"></div></li></ul><!---------template Header Ends Here---------->
						<!---------template Container Starts Here---------->
						<div class="zf-subContWrap zf-topAlign"><ul>
								<!---------Single Line Starts Here---------->
								<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Employee ID 
										<em class="zf-important">*</em>
									</label>
									<div class="zf-tempContDiv"><span> 
											<input type="text" name="SingleLine" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false readonly/> </span><p id="SingleLine_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
									</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
									<!---------Single Line Starts Here---------->
									<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Full Name 
											<em class="zf-important">*</em>
										</label>
										<div class="zf-tempContDiv"><span> 
												<input type="text" name="SingleLine1" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false readonly/> </span><p id="SingleLine1_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
										</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
										<!---------Single Line Starts Here---------->
										<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Department Name 
											</label>
											<div class="zf-tempContDiv"><span> 
													<input type="text" name="SingleLine2" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine2_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
											</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
											<!---------Number Starts Here---------->
											<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Contact 
												</label>
												<div class="zf-tempContDiv"><span> <input type="text" name="Number" checktype="c2" value="" maxlength="18"/></span> <p id="Number_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
												</div><div class="zf-clearBoth"></div></li><!---------Number Ends Here---------->
												<!---------Radio Starts Here---------->    
												<li class="zf-radio zf-tempFrmWrapper zf-oneColumns"><label class="zf-labelName">Gender
														<em class="zf-important">*</em>
													</label>
													<div class="zf-tempContDiv"><span> 
															<input type="text" name="SingleLine2" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false readonly /> </span><p id="SingleLine2_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
													</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
													<!---------Dropdown Starts Here---------->
													<li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">Security Question 1
														</label>
														<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown" checktype="c1"><option selected="true" value="-Select-">-Select-</option>
																<option value=1>What was your childhood nickname?</option>
																<option value=2>In what city did you meet your spouse/significant other?</option>
																<option value=3>What is the name of your favorite childhood friend?</option>
																<option value=4>What is your oldest sibling’s birthday month and year?</option>
																<option value=5>What is the middle name of your oldest child?</option>
															</select><p id="Dropdown_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
														</div><div class="zf-clearBoth"></div></li><!---------Dropdown Ends Here---------->
														<!---------Single Line Starts Here---------->
														<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Answer 1 
															</label>
															<div class="zf-tempContDiv"><span> 
																	<input type="text" name="SingleLine3" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine3_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
															</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
															<!---------Dropdown Starts Here---------->
															<li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">Security Question 2
																</label>
																<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown1" checktype="c1"><option selected="true" value="-Select-">-Select-</option>
																		<option value=1>What school did you attend for sixth grade?</option>
																		<option value=2>What was the name of your first stuffed animal?</option>
																		<option value=3>In what city does your nearest sibling live?</option>
																		<option value=4>In what city or town was your first job?</option>
																		<option value=5>Which is the first company you ever worked for?</option>
																	</select><p id="Dropdown1_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
																</div><div class="zf-clearBoth"></div></li><!---------Dropdown Ends Here---------->
																<!---------Single Line Starts Here---------->
																<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Answer 2 
																	</label>
																	<div class="zf-tempContDiv"><span> 
																			<input type="text" name="SingleLine4" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine4_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
																	</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
																	<!---------Single Line Starts Here---------->
																	<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Email 
																			<em class="zf-important">*</em>
																		</label>
																		<div class="zf-tempContDiv"><span> 
																				<input type="text" name="SingleLine5" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine5_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
																		</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
																		<!---------Single Line Starts Here---------->
																		<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Old Password 
																				<em class="zf-important">*</em>
																			</label>
																			<div class="zf-tempContDiv"><span> 
																					<input type="text" name="SingleLine6" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine6_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
																			</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
																			<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">New Password 
																					<em class="zf-important">*</em>
																				</label>
																				<div class="zf-tempContDiv"><span> 
																						<input type="text" name="SingleLine6" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine6_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
																				</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
																				<!---------Single Line Starts Here---------->
																				<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Confirm New Password 
																						<em class="zf-important">*</em>
																					</label>
																					<div class="zf-tempContDiv"><span> 
																							<input type="text" name="SingleLine7" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine7_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
																					</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
							</ul></div><!---------template Container Starts Here---------->
							<ul><li class="zf-fmFooter"><button class="zf-submitColor" >Save Changes</button></li></ul></div><!-- 'zf-templateWrapper' ends --></form></div><!-- 'zf-templateWidth' ends -->
				
	</body>
</html>
