<html><head><meta charset="UTF-8"><title>UPDATE ACCOUNT DETAILS</title>
<link href="css/form.css" rel="stylesheet" type="text/css"><script src="js/validation.js"></script>
</head><body class="zf-backgroundBg"><!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
<div class="zf-templateWidth"><form action='https://forms.zohopublic.in/abhinav8769abhi/form/UPDATEACCOUNTDETAILS/formperma/QkD7NvpDevnEhopjFpuV99o1HP3zfv62SMO_LilKBSw/htmlRecords/submit' name='form' method='POST' onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();' accept-charset='UTF-8' enctype='multipart/form-data' id='form'><input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
<input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
<input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
<div class="zf-templateWrapper"><!---------template Header Starts Here---------->
<ul class="zf-tempHeadBdr"><li class="zf-tempHeadContBdr"><h2 class="zf-frmTitle"><em>UPDATE ACCOUNT DETAILS</em></h2>
<p class="zf-frmDesc">Please update your details here.</p>
<div class="zf-clearBoth"></div></li></ul><!---------template Header Ends Here---------->
<!---------template Container Starts Here---------->
<div class="zf-subContWrap zf-topAlign"><ul>
<!---------Single Line Starts Here---------->
<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Employee ID 
<em class="zf-important">*</em>
</label>
<div class="zf-tempContDiv"><span> 
<input type="text" name="SingleLine" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
<!---------Single Line Starts Here---------->
<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Full Name 
<em class="zf-important">*</em>
</label>
<div class="zf-tempContDiv"><span> 
<input type="text" name="SingleLine1" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine1_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
<!---------Single Line Starts Here---------->
<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Department Name 
</label>
<div class="zf-tempContDiv"><span> 
<input type="text" name="SingleLine2" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine2_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
<!---------Number Starts Here---------->
<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Contact 
</label>
<div class="zf-tempContDiv"><span> <input type="text" name="Number" checktype="c2" value="" maxlength="18"/></span> <p id="Number_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Number Ends Here---------->
<!---------Radio Starts Here---------->    
<li class="zf-radio zf-tempFrmWrapper zf-oneColumns"><label class="zf-labelName">Gender
<em class="zf-important">*</em>
</label>
<div class="zf-tempContDiv"><div class="zf-overflow">
<span class="zf-multiAttType"> 
<input class="zf-radioBtnType" type="radio" id="Radio_1" name="Radio" checktype="c1" value="Male">
<label for="Radio_1" class="zf-radioChoice">Male</label> </span>
<span class="zf-multiAttType"> 
<input class="zf-radioBtnType" type="radio" id="Radio_2" name="Radio" checktype="c1" value="Female">
<label for="Radio_2" class="zf-radioChoice">Female</label> </span>
<span class="zf-multiAttType"> 
<input class="zf-radioBtnType" type="radio" id="Radio_3" name="Radio" checktype="c1" value="Others">
<label for="Radio_3" class="zf-radioChoice">Others</label> </span>
<div class="zf-clearBoth"></div></div><p id="Radio_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Radio Ends Here---------->    
<!---------Dropdown Starts Here---------->
<li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">Security Question 1
</label>
<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown" checktype="c1"><option selected="true" value="-Select-">-Select-</option>
<option value="What was your childhood nickname?" selected>What was your childhood nickname?</option>
<option value="In which city did you meet your spouse/significant other?">In which city did you meet your spouse/significant other?</option>
<option value="What is the name of your favourite childhood friend?">What is the name of your favourite childhood friend?</option>
</select><p id="Dropdown_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Dropdown Ends Here---------->
<!---------Single Line Starts Here---------->
<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Answer 1 
</label>
<div class="zf-tempContDiv"><span> 
<input type="text" name="SingleLine3" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine3_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
<!---------Dropdown Starts Here---------->
<li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">Security Question 2
</label>
<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown1" checktype="c1"><option selected="true" value="-Select-">-Select-</option>
<option value="Which school you were in grade 6?" selected>Which school you were in grade 6?</option>
<option value="What was the name of your first stuffed animal?">What was the name of your first stuffed animal?</option>
</select><p id="Dropdown1_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Dropdown Ends Here---------->
<!---------Single Line Starts Here---------->
<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Answer 2 
</label>
<div class="zf-tempContDiv"><span> 
<input type="text" name="SingleLine4" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine4_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
<!---------Single Line Starts Here---------->
<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Email 
<em class="zf-important">*</em>
</label>
<div class="zf-tempContDiv"><span> 
<input type="text" name="SingleLine5" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine5_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
<!---------Single Line Starts Here---------->
<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Password 
<em class="zf-important">*</em>
</label>
<div class="zf-tempContDiv"><span> 
<input type="text" name="SingleLine6" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine6_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
<!---------Single Line Starts Here---------->
<li class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName">Confirm Password 
<em class="zf-important">*</em>
</label>
<div class="zf-tempContDiv"><span> 
<input type="text" name="SingleLine7" checktype="c1" value="" maxlength="255" invlovedinsalesiq=false /> </span><p id="SingleLine7_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
</ul></div><!---------template Container Starts Here---------->
<ul><li class="zf-fmFooter"><button class="zf-submitColor" >Save Changes</button></li></ul></div><!-- 'zf-templateWrapper' ends --></form></div><!-- 'zf-templateWidth' ends -->
<script type="text/javascript">var zf_DateRegex = new RegExp("^(([0][1-9])|([1-2][0-9])|([3][0-1]))[-](Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)[-](?:(?:19|20)[0-9]{2})$");
var zf_MandArray = [ "SingleLine", "SingleLine1", "Radio", "SingleLine5", "SingleLine6", "SingleLine7"]; 
var zf_FieldArray = [ "SingleLine", "SingleLine1", "SingleLine2", "Number", "Radio", "Dropdown", "SingleLine3", "Dropdown1", "SingleLine4", "SingleLine5", "SingleLine6", "SingleLine7"]; 
var isSalesIQIntegrationEnabled = false;</script></body></html>