{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/companydetails.css' %}">
</head>
<body>
        <div class="header">
            <a href="home" class="logo">IT Sales: {{ name }}</a>
            <div class="header-right">
              <a class="active" href="home">Home</a>
              <a href="account-update">Account Update</a>
              <a href="companyRegister">Register Company</a>
              <a href="companyDetails">Company Details</a>
              <a href="transactions">Transactions</a>
              <a href="addProduct">Add Product</a>
              <a href="#">News</a>
              <a href="logout" name="LogOut">LogOut</a>
            </div>
        </div>

<main>
<div class="row">
  <div class="left" style="background-color:#bbb;">
    <h2>Menu</h2>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a company">
    
    <ul id="myMenu">
            
            <div class="tab">
            {% for set in finalLst %}
                <li class="tablinks" onmouseover="opencompany(event, '{{ set.0 }}')"><a>{{ set.1 }}</a></li>
            {% endfor %}

            </div>
    </ul>
  </div>


  
  <div class="right" style="background-color:#ddd;">
    <h2>DETAILS</h2>
    {% for set in finalLst %}
    <div id="{{ set.0 }}" class="tabcontent">
            <div class="dtls">
            <h3>{{ set.1|upper }}</h3>
            <table>
            <tr><td><b>ID: </b></td><td>{{ set.0 }}</td></tr>
            <tr><td><b>Name:</b></td><td> {{ set.1 }}</td></tr>
            <tr><td><b>Email:</b></td><td> {{ set.3 }}</td></tr>
            <tr><td><b>Type:</b></td><td> {{ set.4 }}</td></tr>
            <tr><td><b>Size:</b></td><td> {{ set.5 }}</td></tr>
            <tr><td><b>Location:</b></td><td> {{ set.6 }}</td></tr>
            </table>
            </div>
      </div>
    {% endfor %}      
  <div class="clearfix"></div>
</div>
</main>

<script>
    
function myFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}


function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }


function opencompany(evt, companyname) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(companyname).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

</body>
</html>