<!DOCTYPE html>
<html>
    <head>
        <title>This is a test Page!</title>
    </head>

    <body>
            <form action="{% url 'test' %}" method="post">
            {% csrf_token %}
            <!--
            <h3>{{ current_name }}</h3>
            <label for="your_name">Your name: </label>
            <input id="id_var" type="text" name="var" value="{{ current_name }}">
            {{ form.var }}
            -->

            <label for="temporary_id">Your ID: </label>
            <input id="temporary_id" type="number" name="temp_id">

            <label for="name">Your name: </label>
            <input id="name" type="text" name="name">
            
            <input type="submit" value="OK">
            
            <h2>{{ data }}</h2>
            </form>
    </body>
</html>